html {
font-size: 18px;
line-height: 1.4rem;
}

* {
padding: 0;
margin: 0;

}
body {
width: 100%;
background-color: #d9d9d9;
font-family: "Raleway", sans-serif;
color: #393939;
}

.site-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #cdcdcd;
}

h1, h2, h3, h4, h5 {
  font-family: Montserrat, sans-serif;
  line-height: normal;
  text-align: left;
}

  h1 {
    font-weight: 800;
    margin-bottom: 1rem;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 24px;
  }

  h3 {
    font-weight: 600;
    margin-top: 16px;
  }

  h4 {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  h5 {
    font-weight: 600;
    font-size: .85rem;
    margin-bottom: .3rem;
  }

  p {
    font-size: .85rem;
  }

/* HEADER*/

header.desktop-banner {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 64px;
}

header.mobile-banner {
  display: none;
}

.brand-logo {
  display: flex;
  width: max-content;
  height: 32px;
  padding-left: 24px;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.brand-logo img {
  height: 100%;
  width: auto;
}

.brand-logo span:first-child {
  font-weight: 800;
}

.brand-logo span:last-child {
  font-weight: 200;
}

header ul {
  width: max-content;
  display: flex;
  flex-direction: row;
  top: 0px;
  margin-right: 24px;
  }

header ul li {
    padding-left: 16px;
    list-style-type: none;
  }

/* Start Wrapper*/


.start-wrapper {
  background-color: #bcbcbc;
  display: flex;
}

.column-one {
width: 60%;
padding-left: 24px;
}

.column-one img {
width: 100%;
height: auto;
padding: 32px 0 32px 0;
}

.column-one p {
  width: 80%;
}

.column-two {
  width: calc(40% - 48px);
  display: flex;
}

.learn-something {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding-left: 24px;
}

.learn-something p {
  text-align: center;
  padding: 8px 0;
  color: white;
  background-color: #585858;
}

.credit {
  font-size: .65rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

/*Practice Wrapper*/

 .practice-wrapper, .thesis-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .practice-wrapper {
   background-color: white;
 }

 .practice-wrapper .column-one {
   padding-bottom: 32px;
 }

.more-info, .exhibit-info {
  width: calc(40% - 48px);
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  border-left: 2px double #bcbcbc;
}

.info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 16px;
}

.info-box:nth-child(2) {
  border-top: 2px double #bcbcbc;
}

.info-box:nth-child(3) {
  background-color: #bcbcbc;
}

div.image-column {
  width: calc(35% + 16px);
}

.background-holder  {
  box-sizing: border-box;
  padding-top: 100%;
  height: auto;
  background-size: cover;
}

div.orientation {
  background-image: url(../images/information-orientation.jpg);
}

div.campus {
  background-image: url(../images/information-campus.jpg);
}

div.oliver-sack {
  background-image: url(../images/information-guest-lecture.jpg);
}

div.info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(65% - 16px);
  padding-left: 16px;
  font-size: .85rem;
}

.info-column p {
  padding-right: 1rem;
}

.read-more {
  margin-top: .3rem;
  font-size: .7rem;
  font-weight: 600;
  color: #1a7097;
}

/*Learning Wrapper*/

.learning-container {
  background-color: #cdcdcd;
}

.learning-container h1, .thesis-container h1 {
  width: 100%;
  text-align: center;
  padding: 32px 0;
  margin: 0;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 72px;
}

.lesson-box {
  background-color: white;
  width: 30%;
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.image-lesson {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 51%;
}

div.software {
  background-image: url("../images/course-software.jpg");
}

div.art {
  background-image: url("../images/course-computer-art.jpg");
}

div.design {
  background-image: url("../images/course-design.jpg");
}

div.data {
  background-image: url("../images/course-data.jpg");
}

div.business {
  background-image: url("../images/course-business.jpg");
}

div.marketing {
  background-image: url("../images/course-marketing.jpg");
}

.lesson-text {
  width: 85%;
  padding: 0 16px;
}

div.lesson-box p:first-of-type {
padding: 8px 0;
}

.course-menu {
  display: none;
}

/*Thesis Container*/

.thesis-wrapper {
  padding-bottom: 32px;
}

video {
  width: 100%;
  object-fit: cover;
  border: 2px solid #bcbcbc;
}

.video-info h2 {
  margin: 24px 0 8px 0;
}

.exhibit-info {
  border: none;
  padding-top: 0;
}

.exhibit-info .info-box {
  border: none;
}

.image-column img {
box-sizing: border-box;
padding: 16px;
width: 100%;
}

.exhibit-info .info-box:first-child {
  background-color: #bcbcbc;
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-size: .65rem;
  font-weight: 300;
}

.terms span:first-child{
  padding: 0 8px;
}


/*Media Queries*/

@media only screen and (max-width : 480px) {

  .site-container {
    border: none;
  }
  /* Media-Mobile HEADER*/

header.desktop-banner {
  display: none;
}

header.mobile-banner {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-around;
}

.brand-logo img, .mobile-banner img {
  height: 40px;
}

/* Media-Mobile Start Wrapper*/

.start-wrapper {
  flex-direction: column;
}

.column-one, .column-two {
  width: 100%;
  padding: 0;
}

.column-one img {
  padding: 0;
}

.learn-something {
  width: 100%;
  padding: 32px 16px 24px 16px;
}

.learn-something h1 {
  margin-bottom: 2rem;
}

.learn-something h4 {
  margin-bottom: 1.3rem;
}

/*Media-Mobile Practice Wrapper*/

.practice-wrapper .column-one {
  display: none;
}

.info-box {
  flex-direction: column;
  padding-bottom: 48px;
}

div.image-column, div.info-column {
  width: 100%;
}

div.background-holder {
  padding-top: 47%;
}
div.orientation {
  background-image: url(../images/information-orientation-mobile.jpg);
}

div.campus {
  background-image: url(../images/information-campus-mobile.jpg);
}

div.oliver-sack {
  background-image: url(../images/information-guest-lecture-mobile.jpg);
}

.info-box:nth-child(3) {
  background-color: inherit;
}

.info-column h5 {
  font-size: 1rem;
  padding-top: .75rem;
}

/*Media-Mobile Learning Wrapper*/

.learning-container {
  background-color: inherit;
  border-top: 2px solid #cdcdcd;
  border-bottom: 2px solid #cdcdcd;
}

.learning-container h1, .thesis-container h1 {
  padding:32px 0 16px 0;
}

.gallery {
  display: none;
}

.course-menu {
  display: block;
}

.course-menu h3 {
  padding: 16px 16px 24px 16px;
  margin-bottom: 8px;
  background-color: #cdcdcd;
}

/*Media-Mobile Thesis Container*/

.thesis-wrapper {
  flex-direction: column;
  padding-bottom: 24px;
  margin-top: 16px;
}

/*includes Media-Mobile Footer*/

.video-info h2, .video-info p, .exhibit-info, .terms {
  display: none;
}
}
