html {
font-size: 18px;
line-height: 1.4rem;
}
* {


}
body {
width: 100%;
background-color: #EFF0F0;
font-family: "Helvetica", sans-serif;
}
.site-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid red;}

header {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 64px;
}

.brand-logo {
  display: flex;
  width: max-content;
  height: 32px;
  padding-left: 24px;
  align-items: center;
  font-family: "Raleway", sans-serif;

}

.brand-logo img {
  height: 100%;
  width: auto;
}

.brand-logo span:first-child {
  font-weight: 300;
}

.brand-logo span:last-child {
  font-weight: 600;
}

header ul {
  width: max-content;
  display: flex;
  flex-direction: row;
  top: 0px;
  margin-right: 24px;
  }

header ul li {
    padding-left: 16px;
    list-style-type: none;
  }



/* Start Wrapper*/
.start-wrapper {
  background-color: #cdcdcd;
  display: flex;


}
.column-one {
  border: 2px solid blue;
  width: 60%;

}
.column-one img {
width: calc(100% - 48px);
height: auto;
padding: 32px 24px;
justify-content: center;
align-items: center;


}

.column-two {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.learn-something {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.learn-something p {
  background-color: #585858;
}
