html {
font-size: 18px;
line-height: 1.4rem;
}
* {
padding: 0;
margin: 0;

}
body {
width: 100%;
background-color: #dbdbdb;
font-family: "Raleway", sans-serif;
}
.site-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid red;}

  h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    margin-bottom: 1rem;
  }

  h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 24px;
  }

  h4 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-bottom: 1rem;
  }

  p {
    font-size: .85rem;
  }

header {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 64px;
}

.brand-logo {
  display: flex;
  width: max-content;
  height: 32px;
  padding-left: 24px;
  align-items: center;
  font-family: "Raleway", sans-serif;

}

.brand-logo img {
  height: 100%;
  width: auto;
}

.brand-logo span:first-child {
  font-weight: 300;
}

.brand-logo span:last-child {
  font-weight: 600;
}

header ul {
  width: max-content;
  display: flex;
  flex-direction: row;
  top: 0px;
  margin-right: 24px;
  }

header ul li {
    padding-left: 16px;
    list-style-type: none;
  }



/* Start Wrapper*/
.start-wrapper {
  background-color: #cdcdcd;
  display: flex;


}
.column-one {
width: 60%;
padding-left: 24px;
border: 2px solid blue;
}
.column-one img {
width: 100%;
height: auto;
padding: 32px 0 32px 0;

}

.column-two {
  width: calc(40% - 48px);
  display: flex;
}

.learn-something {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding-left: 24px;
}

.learn-something p {
  text-align: center;
  padding: 8px 0;
  color: white;
  background-color: #585858;
}

.practice-wrapper p {
  border: 2px solid pink;
  width: 80%;
}

.credit {
  font-size: .65rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
 .practice-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
.more-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.info-box {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  border: 3px solid yellow;
}
.image-column {
  width: 35%;
  border: 2px solid black;
}
.image-column img {
width: 100%;
padding: 16px;
}

.info-column {
  width: calc (65%-48px);
  border: 2px solid green;
}
